{% include 'base.html' %}
{% block body %}

<form class="my-10" method="POST">
  {% csrf_token %}
  <div class="flex flex-col p-10 w-3/4 mx-auto items-center border border-green-600 rounded-lg">
      <p class="text-2xl">Add Produce &nbsp;<i class="fa-light fa-leaf text-green-500"></i></p>
      <div class="flex flex-col w-3/4 mt-4">
          <label for="name">Name</label>
          <input required class="border border-green-600 rounded-lg px-4 py-2" type="text" name="name" id="name">
      </div>
      <div class="flex flex-col w-3/4 mt-4">
          <label for="price">Price per Kg</label>
          <input required class="border border-green-600 rounded-lg px-4 py-2" type="number" name="price" id="price">
      </div>
      <div class="flex flex-col w-3/4 mt-4">
          <label for="quantity">Quantity in Kg</label>
          <input required class="border border-green-600 rounded-lg px-4 py-2" type="number" name="quantity" id="quantity">
      </div>
      <div class="flex flex-col w-3/4 mt-4">
          <label for="image">Image</label>
          <input required class="border border-green-600 rounded-lg px-4 py-2" type="file" name="image" id="image">
      </div>
      <div class="flex gap-3 mt-4">
          <input type="submit" class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-white border hover:border-green-600 hover:text-black transition ease-in-out hover:shadow" href="" value="Add New Produce">
          <a class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-white border hover:border-green-600 hover:text-black transition ease-in-out hover:shadow" href="/{{user_type}}/{{id}}/home/">Cancel</a>
      </div>
  </div>
</form>  

{% endblock %}



{% block script %}


{% endblock %}