{% include 'navbar.html' %}
{% block title %} <title>HomePage</title> {% endblock %}

{% block body %}

<main class="px-10 md:px-0">
    <!-- Hero Section -->
    <p class="mt-5 text-xl font-medium md:mx-5">Welcome {{user.fullname}}..!!</p>

    <!-- cards -->
    {% if update == 0 %}
    <h5 class="mt-5 text-3xl font-medium md:mx-5">Produce on Sale</h5>
    {% else %}
    <h5 class="mt-5 text-3xl font-medium md:mx-5">Your Produce on Sale</h5>
    {% endif %}
    <div class="md:grid md:grid-cols-2 md:gap-8 md:mx-5 lg:flex lg:max-w-3xl xl:max-w-lg">
        {% if all_produces %}
        {% for produce in all_produces %}
        {% if produce.quantity > 0 %}
        <div class="border-solid border-2 border-[#d1cfcf] rounded-xl my-3 max-w-sm flex flex-col justify-between">
            <div>
                <div>
                    <img src="{{produce.image}}" alt="image">
                </div>
                <div class="p-5 flex justify-between flex-col">
                    <div>
                        <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">PRODUCE</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{produce.name}}</h1>
                    </div>
    
                    <div class="flex flex-col">
                        {% if update == 0 %}
                        <h1 class="title-font text-lg font-medium text-green-600 mb-3">Price {{produce.price}}</h1>
                        <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Quantity Available {{produce.quantity}} </h2>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" value="{{produce.id}}" name="produce_item" hidden>
                            <button name="add_to_cart" class="add-to-cart-btns ml-auto text-white py-1 px-3 bg-green-600 inline-flex items-center rounded-md md:mb-2 lg:mb-0">Add to cart</button>
                        </form>
                        {% else %}
                        <a class="ml-auto text-green-600 inline-flex items-center md:mb-2 lg:mb-0"
                            href="update-product/{{produce.id}}">See Details</a>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <h3 class="text-2xl mt-5"> No Produce to Show !!!</h3>
        {% endif %}
    </div>
</main>

{% endblock %}


{% block script %}
<script>
    var add_to_cart_btn = document.querySelectorAll(".add-to-cart-btns")
    
    add_to_cart_btn.forEach(item=> item.addEventListener("click",event=>{
        if (item.innerHTML!='Added'){
            item.innerHTML = 'Added'
            item.classList.add('bg-green-800')
        }   
    }));
</script>
{% endblock %}