{% include 'base.html' %}
{% block title %}<title>Confirm Order</title>{% endblock %}
{% block body %}

<section class="p-2">
    {% if items_in_cart %}
    <table class="mx-auto mt-10 text-center">
        <thead>
            <tr>
                <th class="border border-l-0 border-t-0 border-[#5c7f67] px-4 py-2">Product Name</th>
                <th class="border border-l-0 border-t-0 border-[#5c7f67] px-4 py-2">Quantity(Kg)</th>
                <th class="border border-l-0 border-t-0 border-[#5c7f67] px-4 py-2">Price/Kg</th>
            </tr>
        </thead>
            <tbody>
    {% for i in items_in_cart %}
    <tr>
        <td class="border border-l-0 border-[#5c7f67] px-4 py-2">{{i.name}}</td>
        <td class="border border-l-0 border-[#5c7f67] px-4 py-2">1</td>
            <td class="border border-l-0 border-[#5c7f67] px-4 py-2">{{i.price}}</td>
    
    </tr>
    {% endfor %}
    <tr>
        <td class="border border-l-0 border-[#5c7f67] px-4 py-2 font-medium">Delivery Charge</td>
        <td class="border border-l-0 border-[#5c7f67] px-4 py-2"></td>
        <td class="border border-l-0 border-r-0 border-[#5c7f67] px-4 py-2 font-medium">100</td>
    </tr>
    <tr>
        <td class="border border-l-0 border-[#5c7f67] px-4 py-2 font-medium">Total Price</td>
        <td class="border border-l-0 border-[#5c7f67] px-4 py-2"></td>
        <td class="border font-medium border-l-0 border-r-0 border-[#5c7f67] px-4 py-2">{{total_price}}</td>
    </tr>
    </tbody>
    </table> 
    <div class="flex mt-10 justify-center">
        <form method="POST">
            {% csrf_token %}
        <button class="inline-flex items-center border-2 border-[#5c7f67] py-1 px-3 focus:outline-none hover:bg-gray-200 rounded-lg text-base mt-4 md:mt-0">Cofirm Order&nbsp;<i class="fa-regular fa-cart-shopping-fast"></i></button>
    </form>
        <a href="/{{user_type}}/{{id}}/home/" class="inline-flex items-center border-2 border-[#5c7f67] py-1 px-3 focus:outline-none hover:bg-gray-200 rounded-lg text-base mt-4 ml-5 md:mt-0">Go Back&nbsp;<i class="fa-regular fa-cart-shopping-fast"></i></a>
    </div>
    {% else %}
    <h5> Your cart is empty!!</h5>
    <a href="/{{user_type}}/{{id}}/home/" class="inline-flex items-center border-2 border-[#5c7f67] py-1 px-3 focus:outline-none hover:bg-gray-200 rounded-lg text-base mt-4 ml-5 md:mt-0">Go Back&nbsp;<i class="fa-regular fa-cart-shopping-fast"></i></a>
    
    {% endif %} 

</section>
{% endblock %}