{% include 'base.html' %}

{% block body %}

<div class="fluid-container">
    <div class="row">
      <div class="col-md-4 my-4 mx-5">
        <img
          src="media/{{product.images}}"
          alt="{{product.product_name}}"
          style="width: 80%; border-radius: 10px"/>
      </div>
      <div class="col-md-4 my-4 mx-5">
        <h2 class="h2">{{product.product_name}}</h2>
        <input type="text" class="h5" style="width:80%;">{{product.desc}}</input>
        <input type="text" class="h4 my-3">M.R.P: <del>&#8377;{{product.price|add:discount}}.00</del></input>
        <input type="text" class="h4 my-3">Deal Price: <span style="color:#f04e4e;">&#8377;{{product.price}}.00</span></input>
        <input type="text" class="h4 my-3">You Save: <span style="color:#0971e4;">&#8377;{{discount}}0</span></input>
  
        <button class="btn btn-primary">Buy Now</button>
        <a href="#" class="btn btn-light mx-2 cart" id="prod{{i.id}}"
          >Add to Cart</a>
      </div>
    </div>
  </div>
  

{% endblock %}